<style>
  /*body {*/
    /*background: linear-gradient(*/
        /*rgba(0, 0, 0, 0.7),*/
        /*rgba(0, 0, 0, 0.7)*/
    /*), url("/background.jpg") no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

  /*}*/
  /*label{*/
    /*color: white;*/
  /*}*/

</style>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<h2>Edit Profile</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New password" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm password" %>
  </div>

  <div class="form-group">
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current password (we need your current password to confirm your changes)" %>
  </div><br>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary"%>
  </div>
<% end %>

<br>
<%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
  </div>
  </div>

